default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  encoding: unicode
  username:
  password:
  host: localhost

development:
  <<: *default
  database: gopose_development

test:
  <<: *default
  database: gopose_test

production:
  <<: *default
  database: gopose_production
